<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('home') }}">
      <i class="bi bi-plus-circle" style="font-size: 1.5rem;"></i>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="{{ url_for('home') }}">Home</a>
        </li>
        {% if current_user.is_authenticated and current_user.role == 'patient' %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('my_appointments') }}">My Appointments</a>
        </li>
        {% endif %}
        {% if current_user.is_authenticated and current_user.role in ('receptionist') %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('manage_appointments') }}">Appointment Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('patient_list') }}">Patients</a>
          </li>
        {% endif %}
        {% if current_user.is_authenticated and current_user.role == 'admin' %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('admin_users') }}">User Management</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('clinic_hours') }}">Clinic Hours</a>
          </li>
        {% endif %}
      </ul>
      <ul class="navbar-nav ms-auto">
        {% if current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('user_profile') }}">Hello, {{ current_user.username }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout') }}" onclick="return confirm('Are you sure you want to log out?')">Logout</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>