{% extends 'base.html' %}

{% block main %}
<form class="form-register m-auto" method="post">
  <h2>Create Account</h2>
  <div class="form-floating">
    {{ form.first_name(class='form-control', placeholder="Enter your first name") }}
    {{ form.first_name.label() }}
  </div>
  <div class="form-floating">
    {{ form.last_name(class='form-control', placeholder="Enter your last name") }}
    {{ form.last_name.label() }}
  </div>
  <div class="form-floating">
    {{ form.username(class='form-control', placeholder="Enter your username") }}
    {{ form.username.label() }}
  </div>
  <div class="form-floating">
    {{ form.email(class='form-control', placeholder="Enter your email") }}
    {{ form.email.label() }}
  </div>
  <div class="form-floating">
    {{ form.password(class='form-control', placeholder="Enter your password") }}
    {{ form.password.label() }}
  </div>
  <div class="form-floating">
    {{ form.phone(class='form-control', placeholder="Phone number (optional)") }}
    {{ form.phone.label() }}
  </div>
  <button class="btn btn-lg btn-primary w-100 mt-3" type="submit">Create Account</button>
  <p class="mt-3 text-center">Already have an account? <a href="{{ url_for('login') }}">Sign in</a></p>
</form>
{% endblock %}